<br /><br />

<form role="form">
	<div class="form-group">
		<div class="row">
			<div class="col-md-2">
				<label for="textInputId" class="control-label">{{$ 'textInputId.label'}}</label>
			</div>
			<div class="col-md-2">
				<input id="textInputId" type="text" class="form-control" placeholder="{{$ 'textInputId.placeholder'}}"/>
			</div>
			<div id="textInputId-help" class="col-md-5 help-block">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="textInputId2" class="control-label">{{$ 'textInputId2.label'}}</label>
			</div>
			<div class="col-md-2">
				<input id="textInputId2" type="text" class="form-control" placeholder="{{$ 'textInputId2.placeholder'}}"/>
			</div>
			<div id="textInputId2-help" class="col-md-5 help-block">				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="checkInputsId" class="control-label">{{$ 'checkInputsId.label'}}</label>
			</div>
			<div class="col-md-2" id="checkInputsId">
				
			</div>
			<div id="checkInputsId-help" class="col-md-5 help-block">				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
				<button id="save" type="button" class="btn btn-primary">{{$ 'button.save'}}</button>
				<button id="cancel" type="button" class="btn btn-default">{{$ 'button.cancel'}}</button>
			</div>
		</div>

	</div>
</form>