<br /><br />

<form role="form">
	<div class="form-group">
		<div class="row">
			<div class="col-md-2">
				<label for="textInputId" class="control-label">{{$ 'textInputId_label'}}</label>
			</div>
			<div class="col-md-2">
				<input id="textInputId" type="text" class="form-control" placeholder="{{$ 'textInputId_placeholder'}}"/>
			</div>
			<div id="textInputId-help" class="col-md-5 help-block">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label for="textInputId2" class="control-label">{{$ 'textInputId2_label'}}</label>
			</div>
			<div class="col-md-2">
				<input id="textInputId2" type="text" class="form-control" placeholder="{{$ 'textInputId2_placeholder'}}"/>
			</div>
			<div id="textInputId2-help" class="col-md-5 help-block">				
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
				<button id="save" type="button" class="btn btn-primary">{{$ 'button_save'}}</button>
				<button id="cancel" type="button" class="btn btn-default">{{$ 'button_cancel'}}</button>
			</div>
		</div>

	</div>
</form>